# Specify filepatterns you want git to ignore.

.dependencies-initialized
*.log
*.pdb
*.pdb
*.VC.db
*.VC.VC.opendb
*.vs
*.vscode
*CMakeLists.txt.user
*vcxproj.user
Applications/_Plugins/C3DModel_viewers/glTF_DX12_EX/GeneratedFiles/*
Applications/_Plugins/C3DModel_viewers/glTF_OpenGL/GeneratedFiles/*
Applications/CompressonatorCLI/Make/buildCLI_linux_package.sh
Applications/CompressonatorGUI/GeneratedFiles/Debug_MD/*
Applications/CompressonatorGUI/GeneratedFiles/qrc_CompressonatorGUI.cpp
Applications/CompressonatorGUI/GeneratedFiles/Release_MD/*
build-out/*
docs/build/*
External/build-out/*
External/build/*
external/brotlig/brotlig/build/*

build/bin/*
build/sdk/bin/*
build/TEMP/*
build/Debug*
build/Release*

*/shaders/compiled/*
internal/tests/output/*
internal/tests/testenv/*
internal/tests/scripts/temp/*
__pycache__
*.aps
transcode_temp.dds