# Specify filepatterns you want git to ignore.

.dependencies-initialized
*.log
*.pdb
*.pdb
*.VC.db
*.VC.VC.opendb
*.vs
*CMakeLists.txt.user
*vcxproj.user
build-out/*
build/*
Compressonator/Applications/_Plugins/C3DModel_viewers/glTF_DX12_EX/GeneratedFiles/*
Compressonator/Applications/_Plugins/C3DModel_viewers/glTF_OpenGL/GeneratedFiles/*
Compressonator/Applications/CompressonatorCLI/Make/buildCLI_linux_package.sh
Compressonator/Applications/CompressonatorGUI/GeneratedFiles/Debug_MD/*
Compressonator/Applications/CompressonatorGUI/GeneratedFiles/qrc_CompressonatorGUI.cpp
Compressonator/Applications/CompressonatorGUI/GeneratedFiles/Release_MD/*
Compressonator/Build/*
docs/build/*
External/build-out/*
External/build/*
